.containerReg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.labelUsr {
  color: white;
  width: 6rem;
  font-family: "Roboto", sans-serif;
  margin-right: 1rem;
}
.labelPas {
  color: white;
  width: 5rem;
  font-family: "Roboto", sans-serif;
  margin-left: 2rem;
}
.input {
  border: none;
  height: 1.5rem;
  border-radius: 10px;
}
.containerSubGob {
  margin-left: -0.4rem;
  display: flex;
}
